<main class="content">
  <article class="song">
    <iframe class="video"src="https://www.youtube.com/embed/ZOT3-iCZUqo" title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
      <p class="text-alternative">Si la reproduccón llega a fallar prueba con esta alternativa:</p>
    <video class="video" src="" id="video" controls></video>
  </article>
  <article class="lyrics">
    <h2> José José | Madrecita letra</h2>
    <p class="text-lyrics">
      Madrecita del alma querida
      En mi pecho yo llevo una flor
      No te importe el color que ella tenga
      Porque al fin tú eres, madre, una flor
    </p>
    <p class="text-lyrics">
      Tu cariño es mi bien, madrecita
      En mi vida tú has sido y serás
      El refugio de todas mis penas
      Y la cuna de amor y verdad
    </p>
    <p class="text-lyrics">
      Aunque amores yo tenga en la vida
      Que me llenen de felicidad
      Como el tuyo jamás, madre mía
      Como el tuyo no habré de encontrar
    </p>
    <p class="text-lyrics">
      Aunque amores yo tenga en la vida
      Que me llenen de felicidad
      Como el tuyo jamás, madre mía
      Como el tuyo no habré de encontrar
    </p>
    <p class="text-lyrics">
      Madrecita del alma querida
      En mi pecho yo llevo una flor
      No te importe el color que ella tenga
      Porque al fin tú eres, madre, una flor
    </p>
    <p class="text-lyrics">
      Tu cariño es mi bien, madrecita
      En mi vida tú has sido y serás
      El refugio de todas mis penas
      Y la cuna de amor y verdad
    </p>
    <p class="text-lyrics">
      Aunque amores yo tenga en la vida
      Que me llenen de felicidad
      Como el tuyo jamás, madre mía
      Como el tuyo no habré de encontrar
    </p>
    <p class="text-lyrics">
      Aunque amores yo tenga en la vida
      Que me llenen de felicidad
      Como el tuyo jamás, madre mía
      Como el tuyo no habré de encontrar
    </p>
    <p class="text-lyrics">
      Madrecita del alma querida
      En mi pecho yo llevo una flor
      No te importe el color que ella tenga
      Porque al fin tú eres, madre, una flor
    </p>
    <p class="text-lyrics">
      Tu cariño es mi bien, madrecita
      En mi vida tú has sido y serás
      El refugio de todas mis penas
      Y la cuna de amor y verdad
    </p>
  </article>
</main>
