.content {
  display: flex;
}

.song {
  padding: 30px;
}

.video {
  border: 1px solid #ddd;
  width: 560px;
  height: 315px;
}

.text-alternative {
  color: #FF6961;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lyrics {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-top: 10px;
}

.text-lyrics {
  width: 60%;
  text-align: justify;
  margin-top: 8px;
  margin-bottom: 8px;
}
