@media all and (max-width: 959px) {
  .song {
    height: auto;
    padding: 30px 30px 0px 30px;
  }
  .video {
    width: 500px;
    height: 300px;
    background-color: black;
  }
  .lyrics {
    padding: 30px 30px 30px 0px;
  }
  .text-lyrics {
    width: 90%;
  }
}

@media all and (max-width: 767px) {
  .song {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60%;
    padding: 30px 0px 30px 30px;
  }
  .video {
    width: 95%;
    height: 25%;
  }
  .lyrics {
    padding: 30px 30px 30px 0px;
    width: 40%;
  }
}

@media all and (max-width: 590px) {
  .content {
    flex-flow: column;
  }
  .song {
    align-items: unset;
    width: calc(100% - 60px);
    padding: 30px;
  }
  .video {
    width: auto;
    height: 300px;
  }
  .lyrics {
    padding: 30px;
    width: calc(100% - 60px);
  }
}
