<div class="component-container">
  <h2 class="title">
    Chistes para ti
  </h2>
  <div class="jokes-grid">
    <div class="joke">
      <h3 class="joke-title">Bocadillo de jamón</h3>
      <div class="joke-content">
        <pre class="joke-text">
          – Mamá, mamá, ¿me haces un bocata de jamón?
          – ¿York?
          – Sí, túrk.
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        Un novio diferente
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - ¡Te digo que tu novio no entra en casa si no se pone los pantalones!
          - Lo siento, Tarzán, lo nuestro es imposible: mamá se opone.
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        El más alto de la clase
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - Mama, mama!!! En clase soy el mas alto y el que mas sabe!!
          - Claro cariño... eres el profesor...
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        Casi saco un 10
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - Mamá, mamá, hoy casi saco un 10.
          - ¡Muy bien Jaimito! pero… ¿por qué casi?
          - Porque se lo pusieron a mi compañero de al lado.
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        La pubertad
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - Mira Mamá, ya me están creciendo los pechos.
          - Si, ya vi, tienes que empezar adelgazar un poco Manuel.
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        Regalo de navidad de Batman
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - ¿Qué le regaló Batman a su mamá por navidad?
          - Una BatiDora.
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        Pan de hoy
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - Mamá, mamá, ¿Cuándo vamos a comer pan de hoy?
          - Mañana hijo, mañana.
        </pre>
      </div>
    </div>
    <div class="joke">
      <h3 class="joke-title">
        Queso por la cabeza
      </h3>
      <div class="joke-content">
        <pre class="joke-text">
          - Mamá, mamá, en la escuela me echan queso amarillo en la cabeza
          - Cállate Nacho y ¡deja de llorar ya!
        </pre>
      </div>
    </div>
  </div>
</div>
