.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  position: relative;
}

.carrousel-image {
  position: absolute;
  width: 50%;
  height: 50vh;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 50vh;
}

.btn {
  position: relative;
  font-size: 32px;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
  margin: 20px;
}

.btn-left {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-right {
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  background-color: #F25278;
  transition: 0.2s all;
  color: white;
}
