.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.carrousel-image {
  width: 600px;
  height: 400px;
  pointer-events: none;
}

.carrousel-controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  height: auto;
  background-color: transparent;
  bottom: -14px;
  width: 600px;
  height: 400px;
  z-index: 2;
}

.btn {
  position: relative;
  font-size: 32px;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
  margin: 20px;
}

.btn-left {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-right {
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  background-color: #7289DA;
  transition: 0.2s all;
  color: white;
}
