<div class="component-container">
  <h3 class="title">
    Poemas para Mamá
  </h3>
  <div class="poems-grid">

    <div class="poem">
      <div class="container">
        <div class="indicator-container">
          <span class="poem-indicator">
          </span>
        </div>
        <div class="title-container">
          <h3 class="poem-title">
            Dulzura
          </h3>
        </div>
      </div>
      <div class="text-container">
        <p class="poem-text">
          Madrecita mía,
          madrecita tierna,
          déjame decirte
          dulzuras extremas.
        </p>
        <p class="poem-text">
          Es tuyo mi cuerpo
          que juntaste en ramo;
          deja revolverlo
          sobre tu regazo
        </p>
        <p class="poem-text">
          Juega tú a ser hoja
          y yo a ser rocío:
          y en tus brazos locos
          tenme suspendido
        </p>
        <p class="poem-text">
          Madrecita mía,
          todito mi mundo
          déjame decirte
          los cariños sumos.
        </p>
      </div>
    </div>

    <div class="poem">
      <div class="container">
        <div class="indicator-container"><span class="poem-indicator"></span></div>
        <div class="title-container">
          <h3 class="poem-title">Cómo no quererte mamá</h3>
        </div>
      </div>
      <div class="text-container">
        <p class="poem-text">Cómo no quererte, si eres la razón de mi existencia Cómo no quererte si me guías en camino justo.</p>
        <p class="poem-text">Cómo no quererte que aprendí de tus consejos. Cómo no quererte si diste toda tu vida por mi</p>
        <p class="poem-text">Cómo no quererte si tú eres la más grande para mi Cómo no quererte si de tu bella interior me supiste cuidar y amar</p>
        <p class="poem-text">Cómo no decir que eres mi adoración Cómo no entregar todo mi amor de hija a ti</p>
      </div>
    </div>

    <div class="poem">
      <div class="container">
        <div class="indicator-container"><span class="poem-indicator"></span></div>
        <div class="title-container">
          <h3 class="poem-title">Madre de infinito amor</h3>
        </div>
      </div>
      <div class="text-container">
        <p class="poem-text">Que impusiste tu valor Con gran sentimiento Desde mi bello nacimiento.</p>
        <p class="poem-text">Recuerdo tus lindos cuentos De tu voz tus bellos cantos Con los que me hacías dormir de niña En tu sedoso corpiño.</p>
        <p class="poem-text">Mi vida sin tu presencia Es sentimiento sin existencia Ya no es alegría, ni canto Es solo tristeza y llanto.</p>
        <p class="poem-text">Todopoderoso Por este pasado doloroso Me dé fortaleza y comprensión Ante tu partida inesperada</p>
      </div>
    </div>

    <div class="poem">
      <div class="container">
        <div class="indicator-container"><span class="poem-indicator"></span></div>
        <div class="title-container">
          <h3 class="poem-title">Una madre hacia su pequeño</h3>
        </div>
      </div>
      <div class="text-container">
        <p class="poem-text">Cierra los ojitos, mi niño de nieve. Si tú no los cierras, el sueño no viene.</p>
        <p class="poem-text">Arriba, en las nubes, las estrellas duermen; y abajo, en el mar, ya sueñan los peces.</p>
        <p class="poem-text">Mi niño travieso, mi niño no duerme. Pájaros dormidos, el viento los mece.</p>
        <p class="poem-text">Con sueño, tu sueño sobre ti se extiende. Ángel de su guarda, dime lo que tiene.</p>
      </div>
    </div>

  </div>
</div>
