@import url("https://unpkg.com/css-aspect-ratio@1/css-aspect-ratio.css");
@import url('app/styles/index.responsive.css');
@import url('app/styles/jokes.responsive.css');
@import url('app/styles/poems.responsive.css');
@import url('app/styles/song.responsive.css');

img {
  --aspect-ratio-w: 4;
  --aspect-ratio-h: 3;
}

video {
  --aspect-ratio-w: 16;
  --aspect-ratio-h: 9;
}

@media all and (min-width: 1200px) {
  .nav-title {
    width: 41%;
  }
}

@media all and (max-width: 960px) {
  .title {
    font-size: 20px;
  }
  .app-nav {
    flex-flow: column;
    height: 120px;
  }
  .nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
  }
  .nav-list {
    width: 100%;
    justify-content: center;
  }
}

@media all and (max-width: 700px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .app-nav {
    margin-top: 0px;
  }
  .footer {
    margin-bottom: 0px;
  }
}

@media all and (max-width: 440px) {
  .app-nav {
    height: 250px;
  }
  .nav-list {
    flex-flow: column;
    height: calc(250px - 60px)
  }
  .list-item {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
